@font-face {
    font-family: Josef;
    src: url(JosefinSans-VariableFont_wght.ttf);
}

body{
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000vh; /* Menetapkan tinggi elemen body menjadi 100% tinggi viewport */
    width: 100%; /* Menetapkan lebar elemen body menjadi 100% lebar viewport */
    /* ... kode CSS lainnya ... */
}

.container > div{
    text-align: center;
    padding-top: 17px;
    font-family: Josef;
}
h1{
    font-size: 50px;
    font-family: Josef;
    color: white;
}

#bulat > div{
    background-color: #675D50;
    border-radius: 50%;
    font-size: 19px;
    display:inline-flex;
    padding: 60px 60px 60px 60px;
    margin: 30px;
    color: white; 
}

.clickable , a{
    cursor: pointer;
    padding-top:12px;
    padding-bottom:12px;
    color: white;
}

.table{
    background-color: antiquewhite;
}