@font-face {
    font-family: Josef;
    src: url(JosefinSans-VariableFont_wght.ttf);
}

body{
    background: url(bg.jpg);
    background-size: 110%;
}

.container > div{
    text-align: center;
    padding-top: 17px;
    font-family: Josef;
}
h1{
    font-size: 50px;
    font-family: Josef;
    color: white;
}

.swal2-popup {
    background-color: #A9907E;
    border: 3px solid #675D50;
    background-color: #675D50;
    font-size: 11px;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-family: Josef;
}

#bulat > div{
    background-color: #675D50;
    border-radius: 50%;
    font-size: 19px;
    display:inline-flex;
    padding: 60px 60px 60px 60px;
    margin: 30px;
    color: white;
}

.clickable , a{
    cursor: pointer;
    padding-top:12px;
    padding-bottom:12px;
    color: white;
}

